---
Language: Java 
BasedOnStyle: LLVM

ColumnLimit: 120

IndentWidth: 8
UseTab: Always

IndentCaseLabels: true 


SpaceAfterCStyleCast: true 



AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true


AlwaysBreakAfterReturnType: TopLevelDefinitions

SortIncludes: false
---
